body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selection-list {
  margin: 20px;
}

.selection-list ul {
  padding: 0px;
}

.selection-list li.active {
  background-color: #aaa;
}

.selection-list li {
  border-bottom: 1px solid #888;
  list-style: none;
  cursor: pointer;
  background-color: #666;
  margin: 0px 0px;
  padding: 5px 10px;
  color: black;
  display: flex;
  justify-content: space-between;
}
