body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selection-list {
  width: 300px;
}

.selection-list ul {
  padding: 0px;
}

.selection-list li.active {
  background-color: #aaa;
}

.selection-list li {
  list-style: none;
  cursor: pointer;
  background-color: #ddd;
  margin: 0px 0px;
  padding: 5px;
  color: black;
}

.overlay {
  padding: 5px 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: white;
}
